<div class="inner">
  <ul class="boxes">
    <li class="one">
      <div class="box-content">
        <h3>Read your favourite magazines and newspapers</h3>
        <p>Design thinking is spread out everywhere. Techspeller brings the community together to ask and answer questions
          about design.</p>
      </div>
      <div class="box-illustration">
        <img src="fonts/home-hero-001.svg" class="illustration">
      </div>
    </li>
    <li class="two">
      <div class="box-content">
        <h3>See what's happening in the world</h3>
        <p>No more stress over blog post drafts. Techspeller will give experienced designers an easy format to share what
          they know.</p>
      </div>
      <div class="box-illustration">
        <img src="fonts/home-hero-002.svg" class="illustration">
      </div>
    </li>
    <li class="three">
      <div class="box-content">
        <h3>Stay up-to-date on breaking news</h3>
        <p>Design should be inclusive. We’re building Techspeller so everyone can learn from the top minds in the industry.</p>
      </div>
      <div class="box-illustration">
        <img src="fonts/home-hero-003.svg" class="illustration">
      </div>
    </li>
  </ul>
</div>
